@tailwind base;
@tailwind components;
.btn {
    @apply text-white bg-[#8a4af3] rounded-md shadow-md p-3 hover:scale-[1.1] ease-in duration-100 cursor-pointer hover:bg-blue-500
}



@tailwind utilities;